<div class="container">

  <h2>Crea una nueva publicación</h2>

  <%= simple_form_for(@article) do |f| %>
    <%= f.input :title %>
    <%= f.input :category, collection: Article::CATEGORIES %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.simple_fields_for :items do |i| %>
        <div id=”fieldsetContainer”>
          <fieldset id="0">
            <%= i.input :title %>
         </fieldset>
        </div>
      <% end%>
      <%= f.button :submit %>
  <% end %>

</div>
<button id="itemadd">Añadir</button>
