<div class="container">

  <%= simple_form_for(@article) do |f| %>
    <br>
    <br>
    <div>
      <div class="article-main-form">

        <div class="form-article">
          <%= f.input :title %>
        </div>

        <div class="form-article">
          <%= f.input :category, collection: Article::CATEGORIES %>
        </div>

        <div class="form-article">
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        </div>

      </div>


      <div class="form-article">
        <%= f.simple_fields_for :items do |t| %>
          <%= render "item_fields", :f => t %>
        <% end %>

        <div class="add-item-btn">
          <br>
          <%= link_to_add_association "+", f, :items %>
        </div>
      </div>

      <div class="form-article-btn">
        <br>
        <%= f.button :submit, 'Publicar' %>
      </div>
    </div>
  <% end %>

</div>

