<div class="navbar navbar-expand-sm navbar-light navbar-pa">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dgc0zwco2/image/upload/v1628679467/Components/Patrimonial-Administracion-de-patrimonio-2x_bj7qkh.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? && current_user.admin = true %>
        <li class="nav-item active">
          <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nueva publicaci贸n", new_article_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Cerrar sesi贸n", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Nueva publicaci贸n", new_article_path, class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/pages/patrimonial">Sobre Patrimonial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Iniciar sesi贸n</a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
