
<div class="banner" style="background-image: url(https://res.cloudinary.com/dgc0zwco2/image/upload/v1629915837/Components/bannerlaninddreverse_ickcsh.png);">
  <div class="container banner-info pl-4">
    <h1>Obras en Barcelona</h1>
    <p class="mt-4 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium eu tellus nec ornare. Aliquam eu orci velit. Nunc ultricies euismod augue vestibulum vehicula.</p>
    <a class="btn-flatt mt-3 mb-3" href="#">Contáctanos</a>
  </div>
</div>


  <div class="servi-card">
    <div class="servicios-strip ml-4 pl-0 d-flex">
      <div class="servi-info">
        <h5>Nuestros servicios</h5>
      </div>
      <div class="serv-const">
        <i class="fas fa-hard-hat"></i>
        <p>Construcción</p>
      </div>
      <div class="serv-refor">
        <i class="fas fa-drafting-compass"></i>
        <p>Reformas</p>
      </div>
      <div class="serv-rehab">
        <i class="fas fa-paint-roller"></i>
        <p>Rehabilitación</p>
      </div>
    </div>
  </div>
<div class="container">
  <div class="last-projects-landing mt-4 ml-4">
    <h2>Últimos proyectos</h2>
    <div class="cards">
      <% @articles.each do |article| %>
        <%= link_to article_path(article.id) do %>
          <div class="cards-card">
            <%= cl_image_tag article.photos.first.key %>
            <div class="cards-description">
              <h2><%= article.title %></h2>
              <p><%= article.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="cards-container shadow">
      <h3 class=" mt-5 ml-4 pl-4 categories-title">Descubre nuestros trabajos</h3>
      <div class="cards-grid mb-4 mx-4">
        <% Article::CATEGORIES.each do |category| %>
          <a href="/articles?query=<%= category %>">
            <div class="category-card"><h3><%= category %></h3></div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
