  <div class="container">
    <h1 class="mb-4">Déjanos tu mensaje</h1>
    <div class="contact-layout">
      <div class="contact-forms">
        <p class="mb-2">Puedes ponerte en contacto con nosotros al teléfono <b style="font-weight: bolder;">935 316 431</b> o dejarnos un mensaje a través del siguiente formulario.</p>
        <p>Te asesoraremos para ofrecerte una propuesta personalizada.</p>
        <%= form_for @contact do |f| %>
          <div class="">
            <%= f.text_field  :name, required: true, class: "contact-form-text-small",
                  placeholder: "Nombre" %></br>

            <%= f.text_field :email, required: true, class: "contact-form-text-small",
                  placeholder: "Correo" %></br>

            <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text",
                  placeholder: "Escriba su mensaje"%></br>

            <div class= "d-none">
              <%= f.label :nickname %>
              <%= f.text_field :nickname %>
            </div>

            <%= f.submit 'Enviar', class: 'contact-btn' %>
          </div>
        <% end %>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5985.0978542412595!2d2.173856000069903!3d41.4056013512353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2dc90b898a3%3A0x6ddaf5328b368178!2sCarrer%20de%20Lepant%2C%20288%2C%2008013%20Barcelona!5e0!3m2!1ses-419!2ses!4v1633380499465!5m2!1ses-419!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

    </div>
  </div>

